@{
    ViewData["Title"] = "About Page";
}

<div class="text-left">
    <div class="card" style="color:white; background-color:gray;">
        <div class="card-body">
            <h2 class="card-title" style="margin-top:50px;">About</h2>
            <p class="card-text" style="margin-bottom:50px;">SportsPro Technical Support constantly strives to provide the highest level of technical support for all products in the SportsPro family.</p>
        </div>
    </div>
</div>